#anagrams {
    margin: 0;
    padding: 10px;
    float: left;
    list-style: none;
    font-size: 35px;
}

#search {
    font-size: 35px;
    align-self: center;
}

#img-container {
    float: left;
}

#intro {
    float: right;
}

#header {
    margin: 15px;
}

#about {
    list-style: none;
    align-content: flex-start;
}

#info {
    justify-self: right;
}

.dropdown {
    text-align: center;
    margin: 20px;
    font-size: large;
}

.row {
    width:100vw;
    display: flex;
}
  
.column-wide {
    width: 70%;
    flex: 70%;
}

.column-thin {
    width: 30%;
    flex: 30%;
}

.results {
    width: 33%;
    float: left;
    font-size: xx-large;
    list-style: none;
    
}